body {
  padding: 50px;
  * {
    padding: 0;
    margin: 0;
  }
}
hr {
  margin-block: 30px;
}
button {
  padding: 20px 50px;
  border-radius: 100px;
  color: #fff;
  font-weight: 900;
  background-color: slateblue;
  border: 3px solid slateblue;
  cursor: pointer;
  font-size: 28px;
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  &:hover {
    background-color: white;
    color: slateblue;
  }
}

h2 {
  padding-bottom: 10px;
  font-size: 40px;
}
